/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font: "Roboto";
$color: #f0f0e5;

body {
    font-family: $font;
    background-color: $color;
}
 
div:not(.w3-sidebar.w3-bar-block.w3-card.w3-animate-left) {
    padding: 20px;
    margin: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    color: black;
    text-align: center;
}
 
h1.page-heading{
    text-shadow: 2px 2px burlywood;
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: left;
}

td {
    padding: 8px;
}

tr {
    padding: 8px;
}